[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pytest = "*"
isort = "*"
flake8 = "*"
pillow = "*"
whitenoise = "*"
boto3 = "*"
gunicorn = "*"
static3 = "*"
django-storages = "*"
dj-static = "*"
dj-database-url = "*"
psycopg2-binary = "*"
httpx = "*"

[requires]
python_version = "3.8"
